<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= data.metadata.title %></title>
  <link rel='stylesheet' href='/stylesheets/output.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- font-awesome Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="bg-gray-200 text-gray-700  leading-relaxed ">

  <!-- NAVBAR -->
  <%- include('../components/navbar/navbar.ejs') %>


  <header class="lg:p-8 lg:pb-0 p-4 m-auto max-w-screen-lg bg-white lg:rounded-tl-xl lg:rounded-tr-xl pb-0">
    <div class="relative">
      <img src="<%= data.metadata.cover %>" alt="<%= data.metadata.title %>" class="w-full aspect-video object-cover rounded-xl">

      <!-- Categorias -->
      <div class="absolute top-3 left-2 flex space-x-4">
        <% data.metadata.categories.forEach(category => { %>
        <span class="bg-red-700 px-4 md:px-6 py-1 md:py-2  font-semibold  text-white rounded-full text-center lg:text-lg text-sm"><%= category %></span>
        <% }) %>
      </div>
    </div>

    <section class="flex justify-between items-center" >

      <div class="flex justify-start items-center p-4 space-x-4">
        <!-- Data de publicação -->
        <div class="flex items-center space-x-2">
          <div class="text-red-700">
            <i class="fa-solid fa-calendar-days"></i>
          </div>
          <p class="font-semibold"><%= data.metadata.publicationDate %></p>
        </div>

        <!-- Visualizações -->
        <div class="flex items-center space-x-2 ">
          <div class="text-red-700">
            <i class="fa-solid fa-fire"></i>
          </div>
          <p class="text-gray-700 font-semibold"><%= data.metadata.views %></p>
        </div>
      </div>

      <div class="flex items-center space-x-2">
        <i class="fa-solid fa-user"></i>
        <h2 class="text-sm font-semibold text-gray-600"><%= data.metadata.author %></h2>
      </div>

    </section>
    <h1 class="lg:text-4xl text-xl  font-semibold "><%= data.metadata.title %></h1>
  </header>


  <main class="lg:p-8 lg:pt-1 p-4 m-auto max-w-screen-lg bg-white   rounded-bl-xl rounded-br-xl pt-1">

    <% data.content.forEach(element => { %>
      <!-- Subtítulo -->
      <% if(element.type === "h2"){ %>
        <h2 class="my-2 lg:text-xl text-lg font-semibold"><%= element.content %></h2> 

      <!-- Parágrafo -->
      <% } else if(element.type === "p"){ %>
        <p class="my-2 "><%= element.content %></p>  

      <!-- Imagem -->
      <% } else if(element.type === "img"){ %>
        <img src="<%= element.content %>" alt="imagem ilistrativa" class="lg:w-auto max-w-[640px] w-full m-auto aspect-video "> 

      <!-- Lista -->
      <% } else if(element.type === "ul"){ %>
        <ul class="list-disc p-2"> 
          <% element.content.forEach(item => { %>
            <li><%= item %></li>
          <% }) %>
        </ul> 
        
      <!-- Vídeo -->
      <% } else if(element.type === "iframe"){ %>
        <iframe src="<%= element.content %>" frameborder="0" allowfullscreen class="m-auto w-full my-2 max-w-[640px] aspect-video"></iframe> 

      <!-- Citação -->
      <% } else if(element.type === "blockquote"){ %>
        <blockquote class="my-4 italic"><%= element.content %></blockquote> 

      <!-- Link -->
      <% } else if(element.type === "a") { %>
        <a href="<%= element.content[0] %>" class="text-blue-500 hover:text-blue-700 underline"><%= element.content[1] %></a> 
      <% } %>
      
    <% }) %>


    <!-- Palavras chaves -->
    <section class="mt-8">
      <h2 class="text-center text-lg text-gray-600">Palavras relacionadas</h2>
      <hr><br>

      <div class="space-x-4   px-4">
        <% for( let i = 0; i < data.metadata.keywords.length; i++ ) { %>
          <p class="px-2 py-1 bg-gray-600 text-gray-100 font-medium text-sm  inline-block my-2"><%= data.metadata.keywords[i]  %></p>
          <% } %>
        </section>
      </div>

  </main>




  <!-- FOOTER -->
  <%- include('../components/footer/footer.ejs') %>

  <!-- BTN UP -->
  <%- include('../components/button/btnUp.ejs') %>

</body>

</html>