<a href="/<%= data.title.toLowerCase().replace(/ /g, '-')  %>" class="hover:scale-[102%] duration-300">




    <div class="overflow-hidden rounded-lg bg-white hover:shadow-xl duration-300 ">
        <img src="<%= data.img %>" alt="capa de artigo" class="h-72 object-cover">

        <div class="pt-4 flex items-center justify-center space-x-2 m-auto">
            <div class="text-red-700">
                <i class="fa-solid fa-calendar-days"></i>
            </div>
            <p><%= data.date %></p>
        </div>

        <div class="px-4 min-h-20 flex items-center">
            <h2 class="text-gray-600 text-xl font-semibold text-center "><%= data.title %></h2>
        </div>
        
        <div class="p-4 border-t-2  mt-4 flex items-center justify-between bg-red-700">

            <h2 class="text-white  font-semibold  z-10 w-[80%] text-left " >
               <%= data.theme %>
           </h2>

            <div class="flex items-center space-x-2 justify-end">
                <div class="text-white">
                    <i class="fa-solid fa-fire"></i>
                </div>
                <h2 class="text-white font-semibold "><%= data.views %></h2>
            </div>
        </div>

    </div>

</a>